<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<!-- column -->
<!-- <div fxFlex.gt-lg="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"></div> -->
<mat-card class="grey">
    <mat-card-content>
        <!-- Row -->
        <!-- <div fxLayout="row" fxLayoutWrap="wrap"> -->
        <!-- column -->
        <!-- <div fxFlex.gt-sm="50" fxFlex.gt-xs="50"> -->
        Welcome back Mermellah. There have been 192 sales since last login
        <!-- </div>
                </div> -->
    </mat-card-content>
</mat-card>
<!-- </div> -->
<div style='margin:auto ;text-align:center'>
        <img src='https://quickchart.io/chart?bkg=white&c={type:%27bar%27,data:{labels:[%27January%27,%27February%27,%27March%27,%27April%27,%20%27May%27],datasets:[{label:%27Dogs%27,data:[50,60,70,180,190]},{label:%27Cats%27,data:[100,200,300,400,500]}]}}'
        width="60%">
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
    <mat-card class='gradient' fxFlex="45">
        <mat-card-title class="text-center">
            Trending Categories
        </mat-card-title>
        <mat-card-content>
            Puzzles<br>
            Earphones<br>
            Shoes<br>
        </mat-card-content>
    </mat-card>
    <mat-card class='rgradient' fxFlex="45">
        <mat-card-title class="text-center">
            Trending Products
        </mat-card-title>
        <mat-card-content>
            Yuxin17x17<br>
            ZST Earphoes<br>
            Yeezy Ultraboost
        </mat-card-content>
    </mat-card>
    <mat-card class='gradient' fxFlex="45">
        <mat-card-title class="text-center">
            Top Categories
        </mat-card-title>
        <mat-card-content>
            Yuxin17x17<br>
            ZST Earphoes<br>
            Yeezy Ultraboost
        </mat-card-content>
    </mat-card>
    <mat-card class='rgradient' fxFlex="45">
        <mat-card-title class="text-center">
            Top Products
        </mat-card-title>
        <mat-card-content>
            Yuxin17x17<br>
            ZST Earphoes<br>
            Yeezy Ultraboost
        </mat-card-content>
    </mat-card>
</div>